a {
  text-decoration: none;
}

.logout-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
}

.logout-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.delete-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
}

.delete-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.primary-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
  width: 35vmin;
}

.primary-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.google-btn {
  background-image: url("../../public/assets/btn_google_signin_dark_normal_web.png");
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  font-size: 7vmin;
}

.hero-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
  position: absolute;
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 65%;
}

.hero-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.favorites-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
  margin-inline: 10vw;
}

.favorites-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.header {
  border: none;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #124559;
  height: 25vmin;
}

.brand {
  font-size: 15vmin;
  padding-inline: 2rem;
  font-family: Spartan;
}

.hamburger-btn {
  background: transparent;
  border: none;
  margin-inline: 0 5vmin;
}

.menuNav {
  position: fixed;
  z-index: 3;
  top: 20vmin;
  right: 0;
  bottom: 0;
  max-height: 66vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.menuNav.showMenu {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #01161e;
  padding: 5%;
  opacity: 90%;
}

.nav-links {
  color: #eff6e0;
  list-style: none;
  padding: 3%;
}

.nav-links:hover {
  color: #f6511d;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 70vh;
  text-align: center;
  background-image: url("../../public/assets/stream.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-main {
  width: 75vmin;
  margin: 0 auto;
  font-size: 3vmin;
  font-family: "Roboto", sans-serif;
  color: #598392;
}

fieldset {
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.75rem;
  background: #dfe7e9dc;
  border: none;
}

.input-A,
.input-B,
.input-C {
  font-size: 1.5em;
  margin: 2vmin;
  border: none;
  color: #598392;
}

.signup-txt,
.signin-txt {
  color: #598392;
}

.signup-txt:hover,
.signin-txt:hover {
  color: #f6511d;
}

.legend {
  color: #124559;
}

.username {
  color: #f6511d;
  margin: 1rem 10vw;
  font-size: 1.5rem;
}

.hero-img {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;
  text-align: center;
}

.hero-txt {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 65%;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: #01161e;
  font-size: 7vmin;
  font-weight: 900;
  width: 65vw;
}

.hero-subtxt {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 65%;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: #eff6e0;
  font-size: 3vmin;
  width: 50vw;
  margin-top: 25vmin;
}

.about-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #124559;
  font-size: 8vmin;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  width: 75vw;
}

.about-list {
  color: #01161e;
  list-style: none;
  color: black;
}

.dev-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: -50%;
      -ms-flex: -50%;
          flex: -50%;
  max-height: 100%;
  max-width: 100%;
}

.bio-txt {
  font-size: 2vmin;
  width: 10vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links-github {
  width: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 35vmin;
  background-image: url("/public/assets/github icon.png");
  max-width: 25vmin;
  height: 55vmin;
  margin-top: 2vmin;
  padding: 3%;
}

.social-links-linkedIn {
  width: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 35vmin;
  background-image: url("/public/assets/linkedInIcon.png");
  max-width: 25vmin;
  height: 55vmin;
  margin-top: 2vmin;
  padding: 3%;
}

.social-links-email {
  width: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 35vmin;
  background-image: url("/public/assets/email.png");
  max-width: 25vmin;
  height: 55vmin;
  margin-top: 2vmin;
  padding: 3%;
}

.alan-sect {
  width: 75vw;
  height: 55vmin;
  padding: 5vmin;
  border: #eff6e0 solid 1px;
  border-radius: 2rem;
  margin: 3vmin;
  -webkit-box-shadow: 1rem 1rem 1rem #e0dddd;
          box-shadow: 1rem 1rem 1rem #e0dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.alan {
  z-index: 2;
  width: 35vmin;
  height: 35vmin;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
  background-image: url("../../public/assets/a-face.png");
}

.cristian-sect {
  width: 75vw;
  height: 55vmin;
  padding: 5vmin;
  border: #eff6e0 solid 1px;
  border-radius: 2rem;
  margin: 3vmin;
  -webkit-box-shadow: 1rem 1rem 1rem #e0dddd;
          box-shadow: 1rem 1rem 1rem #e0dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.cristian {
  z-index: 2;
  width: 35vmin;
  height: 35vmin;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
  background-image: url("../../public/assets/c-face.png");
}

.tanner-sect {
  width: 75vw;
  height: 55vmin;
  padding: 5vmin;
  border: #eff6e0 solid 1px;
  border-radius: 2rem;
  margin: 3vmin;
  -webkit-box-shadow: 1rem 1rem 1rem #e0dddd;
          box-shadow: 1rem 1rem 1rem #e0dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.tanner {
  z-index: 2;
  width: 35vmin;
  height: 35vmin;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
  background-image: url("../../public/assets/t-face.png");
  overflow-wrap: break-word;
}

.justin-sect {
  width: 75vw;
  height: 55vmin;
  padding: 5vmin;
  border: #eff6e0 solid 1px;
  border-radius: 2rem;
  margin: 3vmin;
  -webkit-box-shadow: 1rem 1rem 1rem #e0dddd;
          box-shadow: 1rem 1rem 1rem #e0dddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.justin {
  z-index: 2;
  width: 35vmin;
  height: 35vmin;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto;
  background-image: url("../../public/assets/j-face.png");
}

.search-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #124559;
  font-size: 4vmin;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.state-dropdown {
  width: 33vw;
  border: 0.25rem #e6e8f3 solid;
  border-radius: 2%;
  background-color: rgba(230, 232, 243, 0.453);
  font-size: 1.25rem;
}

.search-btn {
  font-family: Spartan;
  font-size: 2.5vmin;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  color: white;
  background: #f6511d;
  font-weight: 550;
  opacity: 80%;
}

.search-btn:hover {
  background: #ec7753;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem gray;
          box-shadow: 0rem 0.5rem 0.5rem gray;
}

.camp-detail-container {
  color: #124559;
}

.camp-detail-name {
  color: #124559;
  line-height: 125%;
  margin-inline: 10vw;
  font-size: 4.5vmin;
}

.camp-detail-headings {
  color: #f6511d;
  font-size: 4.5vmin;
  margin-inline: 10vw;
}

.camp-info {
  font-size: 1.5vmax;
  margin-inline: 10vw;
}

.camp-reservable {
  margin-inline: 10vw;
  font-size: 4.5vmin;
}

.camp-img-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camp-img {
  max-width: 90vw;
  padding: 2rem;
  border-radius: 3vmin;
}

.saved-items-heading {
  color: #124559;
  margin: 0 10vmin;
  font-size: 2.25rem;
}

.fav-list-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0rem 1rem 1rem rgba(223, 220, 220, 0.897);
          box-shadow: 0rem 1rem 1rem rgba(223, 220, 220, 0.897);
  max-width: 90vw;
  margin: 2vmin 5vmin;
  border-radius: 1vmin;
}

.fav-list-phone {
  list-style: none;
  text-decoration: none;
  color: #124559;
  font-size: 1.75rem;
}

.fav-list {
  list-style: none;
  text-decoration: none;
  color: #124559;
  font-size: 1.75rem;
}

.fav-list:hover {
  color: #f6511d;
}
/*# sourceMappingURL=style.css.map */