.header {
    border: 1px solid black;
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
   
}

li {
    
    list-style: none;
    color: #31361B;
}

a {
    text-decoration: none;
}



