.header {
    border: 1px solid black;
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #31361B;
   
}
.form-main {
    text-align: center;
    width: 33%;
    margin: 0 auto;
    font-size: 2rem;
    color: #31361B;
}

.input {
    font-size: 2rem;
    margin: .5rem;
}

.btn-main {
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: .5rem 1.5rem;
    color: white;
    background: #ed5616dc;
}

.username {
    color: #31361B;
}

li {
    
    list-style: none;
    color: #31361B;
}

a {
    text-decoration: none;
}



.loader {
    width: 8px;
    height: 8px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    animation: wave 1s ease-in infinite;
  }
  
  @keyframes wave {
   0% {  box-shadow:
    0 0 0 0px rgba(255, 255,255, 1),
    0 0 0 20px rgba(255, 255,255, 0.2),
    0 0 0 40px rgba(255, 255,255, 0.6),
    0 0 0 60px rgba(255, 255,255, 0.4),
    0 0 0 80px rgba(255, 255,255, 0.2)
    }
    100% {  box-shadow:
      0 0 0 80px rgba(255, 255,255, 0),
      0 0 0 60px rgba(255, 255,255, 0.2),
      0 0 0 40px rgba(255, 255,255, 0.4),
      0 0 0 20px rgba(255, 255,255, 0.6),
      0 0 0 0px rgba(255, 255,255, 1)
    }
  }
  
  
    